@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Poppins:wght@500;600;700;800&display=swap');

#main-header{
    background-image: url(./assets/grid-3.jpg);
    background-position: top center;
    background-size: cover;
    transition: transform 0.3s ease-in-out;
}

#main-header:hover{
    transform: scale(1.01) ;
}


html{
    scroll-behavior: smooth !important;
    width: 100vw;
    overflow-x: hidden;
}

main h1{
    text-shadow: 0 4px 20px #333;
}

#gallery img:nth-child(2){
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#gallery img{
    transition: 0.3s;
}

#gallery img:hover{
    filter: saturate(1);
    transform: scale(1.02) ;
}

#intro span {
    color: #555;
    font-weight: 700;
}

footer {
    background-image: url(./leaf.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position-x: 80vw;
    height: 300px;
}

@media (max-width : 576px) {
    footer{
        background-position-x :60vw ; 
    }
}

